body{
    background-color: rgba(0, 0, 0, 0.861);
    color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flexbox{
    background: rgba(194, 194, 194, 0.199);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.productimg{
    max-width: 100%;
    max-height: 100%;
}

.flexitem{
    background:white;
    width: 15%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
    border: 3px solid black;

}
.productimg{
    width: 90%;
    height: 70%;


}
#blackhoodie{
    width: 100%;
    max-height: 100%;
    border-radius: 20px;
    border: 3px solid black;
}
#whitehoodie{
    width: 100%;
    max-height: 100%;
    border-radius: 20px;
    border: 3px solid black;
}

#greyhoodie{
    width: 100%;
    max-height: 100%;
    border-radius: 20px;
    border: 3px solid black;
}
#bluehoodie{
    width: 100%;
    max-height: 100%;
    border-radius: 20px;
    border: 3px solid black;
}
#redhoodie{
    width: 100%;
    max-height: 100%;
    border-radius: 20px;
    border: 3px solid black;
}


button{
    width: 50%;

}