body{
    background-color: rgba(0, 0, 0, 0.861);
    color: white;
    width: 50%;
    margin: 0 auto;
}

*{
    margin: 0 auto;
    width: 100%;
}


#eldenring{
    border-radius: 10px;
}
#cubeanim{
    border-radius: 10px;
}
hr{
    opacity: 50%;
}
.navi>a{

    color: rgb(255, 0, 0);
}


/*.form-container{
    width: 70%;
}


.form-container >*{
    border: 1px dashed red;
}